$neutral-00: #FFFFFF;
$neutral-10: #F7F9FD;
$neutral-20: #F0F3FA;
$neutral-30: #E2E6EE;
$neutral-40: #CDD3DF;
$neutral-50: #B4BCCA;
$neutral-60: #969FAE;
$neutral-70: #717A89;
$neutral-80: #494F59;
$neutral-90: #1F2226;
$purple-10: #F6F0FD;
$purple-20: #ECE0FE;
$purple-30: #E3D0FF;
$purple-40: #BF9DEE;
$purple-50: #9C6ADE;
$purple-60: #7647B6;
$purple-70: #50248F;
$purple-80: #3A1270;
$purple-90: #230051;
$indigo-10: #F4F5FA;
$indigo-20: #D3D8F7;
$indigo-30: #B3BCF5;
$indigo-40: #8793DC;
$indigo-50: #5C6AC4;
$indigo-60: #3E4C9E;
$indigo-70: #202E78;
$indigo-80: #101A58;
$indigo-90: #000639;
$blue-10: #EBF5FA;
$blue-20: #CFEAFA;
$blue-30: #B4E0FA;
$blue-40: #5AB2ED;
$blue-50: #0085E0;
$blue-60: #0469B5;
$blue-70: #084E8A;
$blue-80: #043159;
$blue-90: #001429;
$teal-10: #E0F5F5;
$teal-20: #CBF0F0;
$teal-30: #B7ECEC;
$teal-40: #7FD7D5;
$teal-50: #47C1BF;
$teal-60: #24A2A6;
$teal-70: #00848E;
$teal-80: #005A61;
$teal-90: #003135;
$green-10: #E3F1DF;
$green-20: #CFEBC9;
$green-30: #BBE5B3;
$green-40: #85CE77;
$green-50: #50B83C;
$green-60: #309C3F;
$green-70: #108043;
$green-80: #145B39;
$green-90: #173630;
$yellow-10: #FCF1CD;
$yellow-20: #FEEDAB;
$yellow-30: #FFEA8A;
$yellow-40: #FCDD45;
$yellow-50: #FAD200;
$yellow-60: #CBA00C;
$yellow-70: #9C6F19;
$yellow-80: #79550C;
$yellow-90: #573B00;
$orange-10: #FCEBDB;
$orange-20: #FED8B3;
$orange-30: #FFC58B;
$orange-40: #F9AC67;
$orange-50: #F49342;
$orange-60: #DA752C;
$orange-70: #C05717;
$orange-80: #85360D;
$orange-90: #4A1504;
$red-10: #FBE5E5;
$red-20: #FAB6B6;
$red-30: #FA8888;
$red-40: #EC5050;
$red-50: #DE1818;
$red-60: #CF1010;
$red-70: #BF0808;
$red-80: #8A0404;
$red-90: #540000;
$brand-10: #FFDEE4;
$brand-20: #F7B1BE;
$brand-30: #EF8498;
$brand-40: #E95E78;
$brand-50: #E43958;
$brand-60: #D61C3E;
$brand-70: #C90024;
$brand-80: #91001A;
$brand-90: #5A0010;